.invite-manager {
    box-sizing: border-box;
    overflow: hidden;
    .new-invite {
        .link-input {
            flex-grow: 1;

            .component-input {
                font-family: var(--mantine-font-family-monospace);
            }
        }
    }

    .resource-panel {
        flex-grow: 1;
        max-height: calc(100% - 50px - var(--mantine-spacing-sm));
    }
}

.filter-dropdown.mantine-Popover-dropdown {
    padding: 8px;
    background-color: var(--mantine-color-default) !important;

    .mantine-Checkbox-input {
        background-color: var(--mantine-color-default-hover);
    }

    .mantine-Combobox-option:hover {
        background-color: var(--mantine-color-default-hover);
    }
}