@use "views/views.index.scss";
@use "components/components.index.scss";

* {
    --input-bg: var(--mantine-color-default) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-default-border: #3d303d !important;
    --mantine-color-default-hover: #2b1b2b !important;
    --mantine-color-default: #1d131d !important;
    --mantine-color-body: #120d12 !important;
}

body {
    overflow: hidden;
}

.paper-light {
    background-color: var(--mantine-color-default-hover) !important;
}

.dark-input * {
    --input-bg: var(--mantine-color-body) !important;
}

.subtle-input {
    &.mantine-InputWrapper-root.mantine-TextInput-root {
        padding: 0px !important;
    }
    & * {
        --input-bg: #00000000 !important;
        &:hover {
            --input-bg: var(--mantine-color-default) !important;
        }
    }

    & input {
        line-height: unset;
        min-height: auto;
        height: auto;
        padding: 2px;
        padding-left: 6px;
    }
}

.mdx-editor-dark {
    --baseBg: var(--mantine-color-default-hover);
    --baseBgSubtle: var(--mantine-color-default-hover);
    --accentBg: var(--mantine-color-default-hover);
    --accentBase: var(--mantine-color-default-hover);
    --basePageBg: var(--mantine-color-default-border);
    --baseBgHover: var(--mantine-color-default-border);
    --baseBgActive: var(--mantine-color-default-border);
    --baseLine: var(--mantine-color-default-border);
    --baseText: var(--mantine-color-text);
    --baseTextContrast: var(--mantine-color-text);
    --accentBgHover: var(--mantine-color-default-border);
    --accentBgActive: var(--mantine-color-default-border);
    --accentBgSubtle: var(--mantine-color-default-border);
    --accentBorder: var(--mantine-color-default-border);
    --accentBorderHover: var(--mantine-color-default-border);
    --accentSolid: var(--mantine-color-default-border);
    --accentSolidHover: var(--mantine-color-default-border);
    --baseSolidHover: var(--mantine-color-default-border);
    --baseSolid: var(--mantine-color-default-border);
    --baseBorderHover: var(--mantine-color-default-border);
    --baseBorder: var(--mantine-color-default-border);

    --admonitionTipBg: var(--mantine-color-default-hover);
    --admonitionTipBorder: var(--mantine-color-lime-6);

    --admonitionInfoBg: var(--mantine-color-default-hover);
    --admonitionInfoBorder: var(--mantine-color-blue-4);

    --admonitionCautionBg: var(--mantine-color-default-hover);
    --admonitionCautionBorder: var(--mantine-color-yellow-4);

    --admonitionDangerBg: var(--mantine-color-default-hover);
    --admonitionDangerBorder: var(--mantine-color-red-6);

    --admonitionNoteBg: var(--mantine-color-default-hover);
    --admonitionNoteBorder: var(--mantine-color-primary-6);

    background-color: var(--mantine-color-body);
    border-radius: var(--mantine-radius-sm);
    height: 100%;

    .mdxeditor-toolbar {
        border-radius: var(--mantine-radius-sm);
    }
}

.mantine-ScrollArea-thumb {
    z-index: 1000;
}

.mantine-Popover-dropdown {
    background-color: var(--mantine-color-default-hover) !important;
    --popover-border-color: var(--mantine-color-default-border) !important;
}

.mantine-Select-option, .mantine-MultiSelect-option {
    &:hover {
        background-color: var(--mantine-color-default-border) !important;
    }
}

.readonly-input * {
    cursor: pointer !important;
}
